<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=qbotestoneb385;AccountKey=/yQQq/YUX6nMOC5umuzuhpDVeMtjbKawBOBz3GJSjjuoXpIYJx9Wo5kNECh9ANEMX2/0H8LhqdySiiRmUsolMg==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>